@charset "UTF-8";
* {
    font-family: 'Roboto', sans-serif;
}

main {
    margin-top: 50px;
    margin-bottom: 80px;
}

main h1 {
    text-align: center;
    color: #5cb85c;
    margin-top: 50px;
}

main hr {
    height: 0.5px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #5cb85c;
    height: 1px;
}

main #texto {
    box-sizing: border-box;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 20px;
}

main #imagem1, #imagem2, #imagem3 {
    background-color: black;
    opacity: 0.5;
}

main #imagens{
    background-color: black;
}

footer {
    text-align: center; 
    margin-bottom: 30px;
}


